.signup-page {
  .page-wrap {
    background-color: $gray-light;
  }

  .gitlab-logo {
    width: 80px;
    height: 80px;
  }

  .signup-box-container {
    max-width: 900px;

    &.navless-container {
      // overriding .devise-layout-html.navless-container to support the sticky footer
      // without having a header on size xs
      @include media-breakpoint-down(xs) {
        padding: 65px $gl-padding; // height of footer
        padding-top: $gl-padding;
      }
    }
  }

  .signup-heading h2 {
    font-weight: $gl-font-weight-bold;
    padding: 0 10px;

    @include media-breakpoint-down(md) {
      font-size: $gl-font-size-large;
    }
  }

  .signup-box {
    background-color: $white-light;
    box-shadow: 0 0 0 1px $border-color;
    border-radius: $border-radius;
  }

  .form-control {
    &:active,
    &:focus {
      background-color: $white-light;
    }
  }

  .devise-errors {
    h2 {
      font-size: $gl-font-size;
      color: $red-700;
    }
  }
}
